<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>BMI Calculator</title>
</head>

<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
    <a class="navbar-brand" href="#">BMI Calculator</a>
</nav>
<br>

<body>

	<div class="container">

		<p>Height (in CM)</p>
		<input type="text" class="form-control" id="height" placeholder="Height in cm">
        <br>

		<p>Weight (in KG)</p>
		<input type="text" class="form-control" id="weight" placeholder="Weight in kg">
        <br>
        <br>

        <center>
            <button id="btn" class="btn btn-dark">Calculate BMI</button>
        </center>
		<br>
        
		<div id="result"></div>
	</div>
</body>

<style>
    body {
        background-color: #A0AECD;
    }
    
    .col-lg-4 {
        color: #ffffff;
    }
    </style>

</html>
